<configuration>
  <property>
    <name>hbase.client.connection.impl</name>
    <value>com.google.cloud.bigtable.hbase1_x.BigtableConnection</value>
  </property>
  <property>
    <name>google.bigtable.project.id</name>
    <value>BIGTABLE_PROJECT_ID</value>
  </property>
  <property>
    <name>google.bigtable.instance.id</name>
    <value>BIGTABLE_INSTANCE_ID</value>
  </property>
  <property>
    <name>google.bigtable.auth.service.account.enable</name>
    <value>true</value>
  </property>
  <property>
    <name>hbase.client.retries.number</name>
    <value>2</value>
  </property>
</configuration>
